<div class="container-fluid ">
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form id="loginForm" method="post" action="/login/user">
                        <input type="radio" class="btn-check" name="role" id="User" autocomplete="off" checked
                            value="user">
                        <label class="btn btn-outline-success w-25" for="User">User</label>

                        <input type="radio" class="btn-check" name="role" id="Admin" autocomplete="off" value="admin">
                        <label class="btn btn-outline-success  w-25" for="Admin">Admin</label>

                        <!-- username input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">User name</label>
                            <input name="username" type="text" id="form3Example3" class="form-control form-control-lg"
                                placeholder="Enter username" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <label class="form-label" for="form3Example4">Password</label>
                            <input name="password" type="password" id="form3Example4"
                                class="form-control form-control-lg" placeholder="Enter password" />
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                                    class="link-danger">Register</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{>footer}}
    </section>
</div>

<script>
    $("input[name='role']").change(function () {
        let roleValue = $("input[name='role']:checked").val();
        console.log(roleValue)
        $('#loginForm').attr('action', `/login/${roleValue}`);
    })
</script>